<h3>Library</h3>

<div data-song-player data-song="SongsIndexViewModel.playSong"></div>

<h4>New Song</h4>
<div data-song-form data-song="SongsIndexViewModel.newSong"></div>

<div data-ng-repeat="song in SongsIndexViewModel.songs">
  <div class="song">
    <div ng-show="song.showEdit" data-song-form data-song="song"></div>
    <p ng-hide="song.showEdit" data-ng-click="SongsIndexViewModel.play(song)">{{song.title}}</p>
    <button type="button" data-ng-click="song.showEdit = !song.showEdit">Edit</button>
  </div>
</div>
